<% if users.exists? >
  <% users.each do |user| %>
    <table>
      <thead>
        <tr>
          <th>name</th>
          <th><th>
          <th><th>
        </th>
      </thead>
      <tbody>
        <th>follows</th>
        <th><%= user.user_follower.count %></th>
        </tr>
        <tr>
        <th>followers</th>
        <th><%= user.user_followed.count %></th>
      </tr>
      </tbody>
    </table>
  <% end %>
<% else %>
   <p>ユーザーはいません</p>
<% end %>